<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\file      vector.urdf.xacro
\authors   Patrick Hussey
\copyright Copyright (c) 2015, Stanley Innovation, Inc., All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Stanley Innovation nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="vector" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Included URDF/XACRO Files -->    

    <xacro:include filename="$(find vector_description)/urdf/vector_components/vector_base.urdf.xacro" />
    <xacro:include filename="$(find vector_description)/urdf/manipulation/jaco/jaco.urdf.xacro" />
    <xacro:include filename="$(find vector_description)/urdf/manipulation/robotiq/robotiq_85_gripper.urdf.xacro" />
    <xacro:include filename="$(find poli_description)/urdf/poli_linear_actuator_neck.urdf.xacro" />
    <xacro:include filename="$(find poli_description)/urdf/poli_neck_head.urdf.xacro" />

    <!-- Include sensor files -->
    <xacro:include filename="$(find vector_description)/urdf/sensors/kinect_one_sensor.urdf.xacro" />
    <xacro:include filename="$(find poli_description)/urdf/laser_sensors.urdf.xacro" />

    <!-- Include transmission Files -->
    <xacro:include filename="$(find poli_description)/urdf/poli_neck_head.transmission.xacro" />
    
    <!-- Robot base -->
    <xacro:property name="M_PI" value="3.14159"/>
    <xacro:if value="$(optenv VECTOR_USE_PLATFORM_ODOMETRY false)">
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
              <robotNamespace>/</robotNamespace>
            </plugin> 
            <plugin name="object_controller" filename="libgazebo_ros_force_based_move.so">
                <commandTopic>/vector/cmd_vel</commandTopic>
                <odometryTopic>/vector/odometry/local_filtered</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <odometryRate>30.0</odometryRate>
                <robotBaseFrame>base_link</robotBaseFrame>
                <publishOdometryTf>1</publishOdometryTf>
                <yaw_velocity_p_gain>100.0</yaw_velocity_p_gain>
                <x_velocity_p_gain>10000.0</x_velocity_p_gain>
                <y_velocity_p_gain>10000.0</y_velocity_p_gain>
            </plugin>
        </gazebo>
    </xacro:if> 

    <xacro:unless value="$(optenv VECTOR_USE_PLATFORM_ODOMETRY false)">
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
              <robotNamespace>/</robotNamespace>
            </plugin> 
            <plugin name="object_controller" filename="libgazebo_ros_force_based_move.so">
                <commandTopic>/vector/cmd_vel</commandTopic>
                <odometryTopic>/vector/feedback/wheel_odometry</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <odometryRate>30.0</odometryRate>
                <robotBaseFrame>base_link</robotBaseFrame>
                <publishOdometryTf>0</publishOdometryTf>
                <yaw_velocity_p_gain>100.0</yaw_velocity_p_gain>
                <x_velocity_p_gain>10000.0</x_velocity_p_gain>
                <y_velocity_p_gain>10000.0</y_velocity_p_gain>
            </plugin>
        </gazebo>
    </xacro:unless>

    <xacro:vector_base name="base"/>
    
    <!--linear actuator-->
    <xacro:if value="$(optenv VECTOR_HAS_LINEAR_ACTUATOR true)">
        <xacro:vector_linear_actuator parent="base_chassis_link">
            <origin xyz="0.22806971 0 0.46024800" rpy="0 0 0" />
        </xacro:vector_linear_actuator>
    </xacro:if>
    
    <!-- Arms -->
    <xacro:if value="$(optenv VECTOR_HAS_KINOVA_ARM false)"> 
        <xacro:jaco_robot prefix="right_" parent="linear_actuator_link">
            <xacro:unless value="$(optenv VECTOR_HAS_TWO_KINOVA_ARMS false)">
                <!--origin xyz="0.06079866 0 0" rpy="${M_PI/2} 0 ${M_PI/2}"/-->
                <origin xyz="0.0495 0 0" rpy="${M_PI/2} 0 ${M_PI/2}"/>
            </xacro:unless>
            <xacro:if value="$(optenv VECTOR_HAS_TWO_KINOVA_ARMS false)">
                <origin xyz="0.06079866 -0.1319 0" rpy="${M_PI/2} 0 ${M_PI/2}"/>
            </xacro:if>
        </xacro:jaco_robot>


        <xacro:if value="$(optenv VECTOR_HAS_TWO_KINOVA_ARMS false)"> 
            <xacro:jaco_robot prefix="left_" parent="linear_actuator_link">
                <origin xyz="0.06079866 0.1319 0" rpy="${M_PI/2} 0 ${M_PI/2}"/>
            </xacro:jaco_robot>
        </xacro:if>
        
        <xacro:if value="$(optenv VECTOR_HAS_ROBOTIQ_GRIPPER false)">
            <xacro:robotiq_85_gripper prefix="right_" parent="right_ee_base" >
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:robotiq_85_gripper>
        
        
            <xacro:if value="$(optenv VECTOR_HAS_TWO_ROBOTIQ_GRIPPERS false)">
                <xacro:robotiq_85_gripper prefix="left_" parent="left_ee_base" >
                    <origin xyz="0 0 0" rpy="0 0 0"/>
                </xacro:robotiq_85_gripper>
            </xacro:if>
        </xacro:if>
    </xacro:if>

    <!-- Setup any accessories defined in the environment -->
    <!--xacro:vector_accessories /-->

    <xacro:poli_linear_actuator parent="base_chassis_link">
        <!--origin xyz="0.22806971 0 0.46024800" rpy="0 0 0" /-->
        <origin xyz="0.2015 0 1.3642" rpy="0 0 0" />
    </xacro:poli_linear_actuator>

    <xacro:poli_neck_head parent="linear_actuator_fixed_link">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:poli_neck_head>
    <xacro:poli_neck_head_transmission/>

    <!-- include the kinect sensor -->
    <xacro:kinect_one_sensor prefix="kinect" parent="tilt_link">
       <origin xyz="0.1125 -0.03425 0" rpy="${M_PI/2} 0 0" />
    </xacro:kinect_one_sensor>

    <!-- Include the lasers -->
    <xacro:poli_lasers />
</robot>
