<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="basket">

    <xacro:macro name="basket" params="number visual parent *origin">
    
        <joint name="basket_joint_${number}" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="basket_link_${number}" />
        </joint>

        <link name="basket_link_${number}">
            <inertial>
                <mass value="0.1"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                         iyy="0.01"  iyz="0.0"
                         izz="0.01" />
            </inertial>
            <xacro:if value="${visual}">
                <visual>
                    <origin xyz="0 0 0" rpy="0 0 0"/>
                    <geometry>
                        <box size="0.14 0.275 0.165"/>
                    </geometry>
                    <material name="">
                      <color rgba="0.75294 0.75294 0.75294 1" />
                    </material>
                </visual>
            </xacro:if>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.14 0.275 0.165"/>
                </geometry>
            </collision>

        </link>
    </xacro:macro>

</robot>
