<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="poli_neck_head_transmission">

    <transmission name="head_yaw_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="head_yaw_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="head_yaw_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="head_pitch_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="head_pitch_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="head_pitch_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
