<?xml version="1.0"?>
<launch>
    <arg name="simulation_urdf" default="false"/>

    <group unless="$(optenv VECTOR_HAS_KINOVA_7DOF_ARM false)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find poli_description)/robots/poli.urdf.xacro' simulation_urdf:='$(arg simulation_urdf)'"/>
    </group>

    <group if="$(optenv VECTOR_HAS_KINOVA_7DOF_ARM false)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find poli_description)/robots/poli_7dof.urdf.xacro' simulation_urdf:='$(arg simulation_urdf)'"/>
    </group>
</launch>

